@import url(reset.css);

html {
	background-color: lightsteelblue;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	line-height: 1.4;
	color: darkslateblue;
}

h1 {
	font-size: 2rem;
	color: aliceblue;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

#banner {
	padding: 30rem 3rem 3rem 3rem;
	background-image: url('../Images/GIMM.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	#banner nav ul {
		text-align: center;
	}

	#banner nav li {
		display: inline-block;
		padding: 1rem 1rem;
		border-style: solid;
		border-width: thin;
		border-color: aliceblue;
	}

		#banner nav li:hover {
			background-color: aliceblue;
			opacity: 0.5;
		}

	#banner nav a {
		color: aliceblue;
		padding: 1.25rem 1.25rem;
	}

		#banner nav a:hover {
			color: grey;
		}

#mainpage {
	padding: 3rem 3rem 3rem 3rem;
	max-width: 850px;
	margin: auto;
}

#welcome {
	text-align: center;
	border-style: solid;
	border-width: thick;
	border-color: aliceblue;
	color: aliceblue;
	line-height: 1.8;
	padding: 1rem 1rem;
	font-size: 1.2rem;
}

#sitename {
	color: aliceblue;
}

#joepic {
	width: 500px;
	float: left;
	padding: 0 5rem 5rem 0;
}

	#joepic:hover {
		transform: scaleX(-1);
		padding: 0 0 5rem 5rem;
	}

#megamangif {
	float: left;
	padding: 0 1rem 1rem 0;
}

#joe {
	font-size: 1.2rem;
	color: aliceblue;
}

#andrew {
	font-size: 1.2rem;
	color: aliceblue;
}

#devon {
	font-size: 1.2rem;
	color: aliceblue;
}

#christine {
	font-size: 1.2rem;
	color: aliceblue;
}

#andrewpic {
	width: 500px;
	float: left;
	padding: 0 5rem 5rem 0;
}

#devonpic {
	width: 500px;
	float: left;
	padding: 0 5rem 5rem 0;
}

#christinepic {
	width: 500px;
	float: left;
	padding: 0 5rem 5rem 0;
}

#joediv {
	min-height: 800px;
	margin: auto;
	padding: 10rem 0 0 0;
	cursor: url("http://downloads.totallyfreecursors.com/cursor_files/marioraccoonani.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/marioraccoonani.gif"), auto;
}

#andrewdiv {
	min-height: 800px;
	margin: auto;
}

#devondiv {
	min-height: 800px;
	margin: auto;
}

#christinediv {
	min-height: 800px;
	margin: auto;
}

#back {
	float: right;
	color: steelblue;
	font-style: italic;
}

	#back:hover {
		color: aliceblue;
	}