@import url(reset.css);

html {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	line-height: 1.4;
	color: aliceblue;
	padding: 1rem 1rem;
}

h1 {
	font-size: 3.5rem;
	color: aliceblue;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

p {
	font-size: 1.3rem;
}

a {
	text-decoration: none;
}

#banner {
	padding: 30rem 0 0 0;
}

.header{
	position: fixed;
	width: 100%;
	z-index: 5;
	font-size: 1.3rem;
}

.navbar-brand {
	font-size: 2rem;
}

.main-background {
	background-image: url('../Images/GIMM.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainpage {
	padding: 5rem 3rem 3rem 3rem;
	min-width: 80%;
	margin: auto;
}

#welcome {
	text-align: center;
	border-style: solid;
	border-width: thick;
	border-color: aliceblue;
	color: aliceblue;
	line-height: 1.8;
	padding: 1rem 1rem;
	font-size: 1.6rem;
}

#sitename {
	color: aliceblue;
}

#megamangif {
	max-width: 40%;
	float: left;
}

#kirby {
	max-width: 40%;
	float: right;
}

#joe {
	font-size: 1.2rem;
	color: aliceblue;
}

#andrew {
	font-size: 1.2rem;
	color: aliceblue;
}

#devon {
	font-size: 1.2rem;
	color: aliceblue;
}

#christine {
	font-size: 1.2rem;
	color: aliceblue;
}

#joepic {
	width: 500px;
	float: left;
	max-width: 100%;
	border-radius: 100%;
	margin: 0 20rem 5rem 0;
}

	#joepic:hover {
		transform: scaleX(-1);
	}

#andrewpic {
	width: 500px;
	float: left;
	max-width: 100%;
	border-radius: 100%;
	margin: 0 20rem 5rem 0;
}

#devonpic {
	width: 500px;
	float: left;
	max-width: 100%;
	border-radius: 100%;
	margin: 0 20rem 5rem 0;
}

#christinepic {
	width: 500px;
	float: left;
	max-width: 100%;
	border-radius: 100%;
	margin: 0 20rem 5rem 0;
}

@media screen and (max-width: 1600px) {
	html {
		font-size: 90%;
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 80%;
	}
	
	#joepic {
		float: none;
	}

	#andrewpic {
		float: none;
	}

	#devonpic {
		float: none;
	}

	#christinepic {
		float: none;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 50%;
	}
}

#joediv {
	margin: auto;
	padding: 5rem 0 0 0;
	min-width: 80%;	
	cursor: url("http://downloads.totallyfreecursors.com/cursor_files/marioraccoonani.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/marioraccoonani.gif"), auto;
}

#andrewdiv {
	margin: auto;
	padding: 5rem 0 0 0;
	min-width: 80%;
}

#devondiv {
	margin: auto;
	padding: 5rem 0 0 0;
	min-width: 80%;
}

#christinediv {
	margin: auto;
	padding: 5rem 0 0 0;
	min-width: 80%;
}