@import url(reset.css);

html {
	background-color: darkgrey;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	line-height: 1.4;
}

h1 {
	font-size: 2rem;
	color: aliceblue;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

#banner {
	background-color: grey;
	padding: 3rem 3rem 3rem 3rem;
}

	#banner nav ul {
		text-align: center;
	}

	#banner nav li {
		display: inline;
	}

	#banner nav a {
		color: aliceblue;
		padding: 1rem 1rem;
		border-style: solid;
		border-width: thin;
		border-color: aliceblue;
	}

		#banner nav a:hover {
			background-color: aliceblue;
			color: grey;
		}

#mainpage {
	padding: 3rem 3rem 3rem 3rem;
}

#welcome {
	text-align: center;
}

#joepic {
	width: 500px;
	float: left;
	padding: 0 5rem 0 30rem;
}

#andrewpic {
	width: 500px;
	float: left;
	padding: 0 5rem 0 30rem;
}

#devonpic {
	width: 500px;
	float: left;
	padding: 0 5rem 0 30rem;
}

#christinepic {
	width: 500px;
	float: left;
	padding: 0 5rem 0 30rem;
}

#joebio {
	padding: 0 30rem 30rem 0;
}

#andrewbio {
	padding: 0 30rem 30rem 0;
}

#devonbio {
	padding: 0 30rem 30rem 0;
}

#christinebio {
	padding: 0 30rem 30rem 0;
}

#joe {
	padding: 0 0 0 30rem;
}

#andrew {
	padding: 0 0 0 30rem;
}

#devon {
	padding: 0 0 0 30rem;
}

#christine {
	padding: 0 0 0 30rem;
}

#back {
	float: right;
	color: aliceblue;
	font-style: italic;
}

	#back:hover {
		color: grey;
	}